.meme-generator-caontainer .canvans-container{
width: 100%;
height: 100%;
grid-column: 1;
grid-row: 1/3;

}


.meme-generator-caontainer .control-box{
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1/3;
    
    }
    
