*{
    box-sizing: border-box;
}
html{
    line-height: 1.87rem ;
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #223;
}

footer{
    color: inherit;
    font-family: pop-bold;
    text-align: center;
    font-size: 15px;
   color: var(--header-col2);
}