@media (max-width: 1000px){
    .meme-generator-layout {
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(2,1fr);
        margin: 1.8rem auto;
        column-gap: 1.81rem;
        height: inherit;
        align-items: center;
        justify-content: center;
        width: 36.62rem;
        height: 36.62rem;
    }
}
@media (max-width: 770px){
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: rgb(255 255 255 / 90%);
        height: 100vh;
        min-width: 220px;
        border-left: solid 1px var(--clr6);
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -10px 0px 13px rgb(0 0 0 / 16%);
    }
    .main-header .main-nav a {
        display: block;
        padding: 1.125rem 1.6rem;
        transition: background-color .3s;
    }
    .main-header .main-nav a:hover {
        background-color: var(--clr4);
    }
    .main-header .main-nav li {
        border-bottom: solid 1px var(--clr6);
    }
}
}


