
@media (max-width: 840px){

    .meme-generator-container{
        flex-direction: column;
    }

    .control-box-layout {
    padding-bottom: 0.62rem;
    margin-top: 3px;
    row-gap: 0.31rem;
    }

 
} 

@media (max-width: 680px){
    .main-header .btn-hide{
        display:inline-block; 
    }       
        
        .main-header .nav-container  {
            width: 10%;
            margin: 0;
        }
   
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: var(--header-col2);
        height: 100vh;
        min-width: 220px;
        border-left: solid 2px var(--header-col1);
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -10px 0px 13px rgba(252, 214, 214, 0.16);
    }
    .main-header .main-nav a {
        display: block;
        padding: 1.125rem 1.6rem;
        transition: background-color .3s;
    }
    .main-header .main-nav a:hover {
        background-color: var(--clr4);
    }
    .main-header .main-nav li {
        border-bottom: solid 1px var(--header-col1);
    }
   
}

@media (max-width: 550px){
    .main-header .btn-menu{
    margin-left: -29px
    }

    .main-header .logo {
        font-size: 1.3rem;
    }
}

