

.meme-generator-container .canvas-container{
    max-width: 500px;
    min-width: 120px;
border-radius: 2.18rem;

}
.meme-generator-container canvas{
    border-radius: inherit;
    width: auto;
   
}


.meme-generator-container .control-box{
    background-color: rgba(235, 238, 243, 0.2);
    border-radius: 2.18rem;
    width: 23.25rem;
    height: 18.75rem;


   
}