.main-screen {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 30%);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}